<!-- Navbar -->
<nav class="navbar">
  <div class="container">
    <%= link_to root_path, class: 'logo' do %>
      <i class="fas fa-store"></i> <!-- Icône de boutique -->
    <% end %>
    <ul class="nav-links">
      <li><%= link_to 'Accueil', root_path %></li>
      <li><%= link_to 'Produits', products_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'À propos', about_path %></li>
    </ul>
  </div>
</nav>

<!-- Banner -->
<div class="banner">
  <div class="banner-content">
    <h1>Bienvenue sur notre boutique en ligne</h1>
    <p>Découvrez nos produits d'exception !</p>
    <%= link_to 'Découvrir nos produits', products_path, class: 'btn-primary' %>
  </div>
</div>
