<div class="products-section">
  <h2>Nos produits populaires</h2>
  <div class="products-grid">
    <% @products.each do |product| %>
      <div class="product-card">
        <!-- Utilisation de image_url pour afficher les images locales -->
        <%= image_tag "products/#{product.image_url}", alt: product.name if product.image_url.present? %>

        <h3><%= product.name %></h3>
        <p><%= number_to_currency(product.price, unit: "€", format: "%n %u") %></p> <!-- Affichage du prix en euros avec l'unité après le nombre -->
        <%= link_to 'Voir le produit', product_path(product), class: 'btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

<div class="cta-section">
  <h2>Profitez de nos offres exclusives</h2>
  <%= link_to 'Voir toutes les offres', offers_path, class: 'btn-primary' %>
</div>
