<div class="product-container">
  <div class="product-image">
    <%= image_tag "products/#{@product.image_url}" if @product.image_url.present? %>
  </div>
  <div class="product-details">
    <p class="product-description"><%= @product.description %></p>
    <p class="product-price"><%= number_to_currency(@product.price, unit: "€", format: "%n %u") %></p>
    <p>Stock disponible : <%= @product.stock %></p>

    <!-- Bouton Ajouter au panier -->
    <%= button_to 'Ajouter au panier', cart_cart_items_path(@cart), 
              params: { product_id: @product.id, quantity: 1 }, 
              method: :post, 
              class: 'btn-primary' %>

  </div>
</div>
