<!DOCTYPE html>
<html>
  <head>
    <title>MonSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

  </head>

  <body>
    <!-- Inclure le header -->
    <%= render 'shared/header' %>

    <!-- Contenu principal -->
    <%= yield %>

    <!-- Inclure le footer -->
    <%= render 'shared/footer' %>
  </body>
</html>
